*{
  padding: 0;
  margin: 0;
}
:focus-visible{
  outline: none;
}

/*
  Theme:
*/
:root{
  --color-blue-visual-weight: #282c34;
  --color-basic-background: grey;
  --maincontent-maxwidth: 800px;
  --maincontent-vpadding: 10vmin;
  --maincontent-innerspacing: min(10vmin,2em);
}
/*
  Theme:
*/
:root{
  --chakra-colors-gray-200: red !important;
}








