
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

*{
  padding: 0;
  margin: 0;
}
:focus-visible{
  outline: none;
}

/*
  Theme:
*/
:root{
  --color-blue-visual-weight: #282c34;
  --color-basic-background: #aaaaaa;
  --maincontent-maxwidth: 800px;
  --maincontent-vpadding: 10vmin;
  --maincontent-innerspacing: min(10vmin,2em);
  --blockpadding: min(2vmin,2em);
}
/*
  Theme:
*/
:root{
  --chakra-colors-gray-200: red !important;
}

/*
  AOS customizd
*/
html:not(.no-js) [data-aos=subtle-in] {
  transform: translate3d(-10px,0,0);
}
html:not(.no-js) [data-aos=subtle-in].aos-animate {
  transform: translate3d(0,0,0);
}
html:not(.no-js) [data-aos=subtle-in-v2] {
  position: relative;
  left: -10px;
  transform: unset;
}
html:not(.no-js) [data-aos=subtle-in-v2].aos-animate {
  left: 0px;
  transform: unset;
}
html:not(.no-js) [data-aos=subtle-scale-in] {
  transform: scale(0.9);
}
html:not(.no-js) [data-aos=subtle-scale-in].aos-animate {
  transform: scale(1);
}









